:root {
     --primary-color: #5F8D4E;
     --secondary-color: #E5D9B6;
}

* {
     font-family: 'Open Sans', sans-serif;
     box-sizing: border-box;
}

body {
     background-color: #e5d9b6a8;
     margin: auto;
     display: flex;
     flex-direction: column;
     height: 100vh;
}

.container {

     min-width: 700px;
     /* min-height: 200px; */
     padding: 2rem 1rem;
}


.cash-given-area {
     display: none;
}


#message {
     display: none;
}

.cash-input-area {
     display: flex;
     flex-direction: column;
     align-items: center;
}

label {
     font-size: 22px;
     text-align: center;
     margin: 1rem;
}

input {
     font-size: 1.5rem;
     color: black;
     text-align: center;
     margin-bottom: 1rem;
     border: none;
     padding: .5rem 2rem;
     outline: none;
     border-bottom: 1px solid var(--primary-color);
     background-color: transparent;
     box-shadow: 0 1px 10px var(--primary-color);
     transition: all 0.5s ease;
     border-radius: 5px;
}

button {
     font-size: 1.2rem;
     font-weight: 600;
     width: 100px;
     color: var(--secondary-color);
     text-align: center;
     border: none;
     padding: .5rem 1rem;
     outline: none;
     border-radius: 5px;
     background-color: var(--primary-color);
     box-shadow: 0 1px 10px var(--primary-color);
     transition: left 0.5s ease;
}

button:hover {
     background-color: var(--tertiary-color);
     color: var(--primary-color);
     box-shadow: 0 1px 10px black;
     cursor: pointer;
}

h1 {
     transition: all 0.5s ease;
     margin: 0;
}

#description {
     text-align: center;
     transition: all 0.5s ease;
}

.container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 1rem;
}

.change-return {
     display: none;
}

table {
     margin-top: 20px;
     width: 100%;
     table-layout: fixed;
     font-size: 1.5rem;
}

th,
td {
     border: 3px solid var(--secondary-color);
     text-align: center;
     border-radius: 10px;
     background-color: #90c47e;
     padding: 10px 5px;
     box-shadow: 0 1px 10px var(--primary-color);

}

.notes {
     background-color: white;
}

caption,
#message {
     font-size: 1.5rem;
     font-weight: 600;
     color: var(--primary-color);
     text-align: center;
     margin-top: 1rem;
}

footer {
     font-size: 1rem;
     font-weight: 600;
     color: var(--primary-color);
     text-align: center;
     position: sticky;
     top: 100%;
}

.social {
     margin-top: 1rem;
}